.Adminconteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    flex-direction: column; 
    border-radius: 7px;
    width: 1100px;
    height: 732px;
    max-height: 1500px;
    margin: 0 auto; 
    margin-top: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 30px;
}
.cab
{
    display: block;
    position: relative;
    height: 1px;
    width: 550px;
}
.hText
{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 470px;
    top: 55px;
}
.side
{
    position: relative;
    left: 1530px;
    top: 58px;
}
.sText
{
    padding: 2px;
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 1px;
}
.sTextH
{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}
.smallConteiner
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 85px;
    margin-left: 10px;
}
.textConteiner
{
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bigConteiner
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 200px;
}
.UserInput
{
    border: none;
    border-bottom: #000000 solid 1px;
    margin: 2px;
    padding: 15px;
    width: 300px;
    outline: none;
}
.midle
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.activesText
{
    border-left: 2px solid #E63946 ;
}
.sectText
{
    font-weight: bold;
    font-size: 25px;
    width: 550px;
}
.smallTextConteiner
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: 55px;
    margin-left: 10px;
}
.send
{
    position: relative;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 25px;
    background: #E63946;
    width: 150px;
}
.first
{
    position: relative;
    bottom: 60px;
    left: 420px;
}
.searchbaseconteiner
{
    width: 550px;
    height: 650px;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}
.conteinersearch
{
    position: relative;
    left: 490px;
    bottom: 60px;
    margin-left: 30px;
    background-color: #f5f5f7;
}
.searchInput 
{
    padding: 10px;
    margin: 20px;
    width: 300px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.userCard 
{
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.searchbar
{
    position: relative;
    left: 100px;
    top: 35px;
}
.sizeText
{
    font-size: 22px;
}
.addbutton
{
    position: relative;
    left: 200px;
    bottom: 450px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 25px;
    background: #E63946;
    width: 150px;
}
.addimg
{
    width: 70px;
    height: 50px;
}
.shtText
{
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.scheck
{
    position: relative;
    bottom: 7px;
}
.shText
{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}
.filterConteiner
{
    position: relative;
    left: 500px;
}
.filterConteiner
{
    position: relative;
    width: 520px;
}
.filtersmallconteiner
{
    display: flex;
    flex-direction: row;
}
.filterimg
{
    position: relative;
    bottom: 7px;
}
.filterimgr
{
    position: relative;
    top: 3px;
}
.filterText
{
    position: relative;
    bottom: 7px;
}