.bigContainer
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 7px;
    width: 1100px;
    height: 575px;
    margin: 0 auto; 
    margin-top: 150px;
    gap: 10px;
    overflow-y: auto;
    max-height: 575px;
}
.cab
{
    display: block;
    position: relative;
    height: 1px;
    width: 550px;
}
.hText
{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 470px;
    top: 95px;
}
.side
{
    position: relative;
    left: 1530px;
    top: 108px;
}
.sText
{
    padding: 2px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1px;
}
.sTextH
{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}
.midle
{
    position: relative;
    display: flex;
    justify-content: center;
}
.left
{
    position: relative;
    left: 420px;
    bottom: 140px;
}
.right
{
    position: relative;
    left: 1380px;
    bottom: 225px;
}
.activesText
{
    border-left: 2px solid #E63946 ;
}
.problemtext
{
    display: block;
    padding: 4px;
    border: #000000 solid 1px;
    border-radius: 7px;
    margin-top: 25px;
    width: 650px;
    height: auto;
}
.backbutton
{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background: #E63946;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    box-shadow: 4px 4px 10px #E63946;
    height: 50px;
    width: 100px;
    position: relative;
    right: 225px;
}
.boldText
{
    font-weight: bold;
    font-size: 18px;
}
.Applicationh
{
    font-weight: bold;
    font-size: 25px;
}
.ApplecationText
{
    font-size: 20px;
}
.shorttext
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 35px;
}
.sbigText
{
    outline: none;
    font-size: 16px;
    width: 740px;
    height: 170px;
    resize: none;
}
.endBigText
{
    outline: none;
    font-size: 16px;
    width: 800px;
    height: 170px;
    resize: none;
}
.problemtextend
{
    display: flex;
    justify-content: start;
    align-items:center;
    flex-direction: column;
    padding: 4px;
    border: #000000 solid 1px;
    border-radius: 7px;
    margin-top: 25px;
    width: 850px;
    height: 400px;
}
.EndSolution
{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 700px;
    height: 75px;
    gap: 20px;
}
.endimg
{
    position: relative;
    top: 3px;
}
.ssendbutton
{
    position: relative;
    bottom: 10px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 20px;
    background: #E63946;
    width: 200px;
}
.shortendtext
{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px ;
}
.chatconteiner
{
    background-color:  #f5f5f7;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    width: 450px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 450px;
    border: #000000 solid 1px;
    border-radius: 7px;

}
.user-message
{
    position: relative;
    left: 250px;
}
.sendFooter
{
    height: 40px;
    width: 452px;
    margin-bottom: 10px;
}
.message-container
{
    position: relative;
    width: 190px;
    height: auto;
    margin-left: 10px;
}