.acontainer
{
    background: #f3f1f1; 
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    border-radius: 15px;
    margin-left: 5px;
}
.bcontainer
{
    background: #f3f1f1; 
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: column; 
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.bigContainer
{
    background: #FFFFFF; 
    border-top: 2px solid #051eff;
    display: flex;
    width: 1010px;
    height: 500px;
    align-items: center; 
    flex-direction: row;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 15px;
}
.chatcontainer
{
    display: flex;
    width: 475px;
    height: 375px ;
    margin: 5px;
    flex-direction: column; 
    background: #FFFFFF;
    border: #051eff solid 1px;
}
.sendFooter
{
    display: flex;
    width: 475px;
    height: 30px;
    background-color: #FFFFFF;
    align-items: center; 
    flex-direction: row;
    border-radius: 5px;
    border: #051eff solid 1px;
}
.aText
{   
    width: 445px;
    display: flex;
    background: #FFFFFF;
    color: black;
    border: #051eff 1px solid;
    border-radius: 3px; 
    margin-left: 5px;
}
.aSend
{
    display: flex;
    background: #FFFFFF;
    color: black;
    border: #051eff 1px solid;
    border-radius: 3px;
    margin: 4px;
}