.conteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 

    border-radius: 7px;

    width: 500px;
    height: 400px;

    margin: 0 auto; 
    margin-top: 150px;
}
.text
{
    position: relative;
    bottom: 5px;

    font-weight: bold;
    font-size: 20px;

    margin: 15px;
}
.loginInput
{
    position: relative;
    top: 10px;

    width: 250px;

    border: #000000 solid 1px;
    border-radius: 10px;

    outline: none;

    margin: 10px;
    margin-bottom: 25px;
    padding: 15px;
}
.loginInput:focus
{
    border-color: #E63946;
    transition: border-color 0.3s ease-in-out; 
}
.passwordInput
{
    width: 250px;

    border: #000000 solid 1px;
    border-radius: 5px;

    outline: none;

    margin: 10px;
    padding: 15px;
    margin-bottom: 25px;
}
.passwordInput:focus
{
    border-color: #E63946;
    transition: border-color 0.3s ease-in-out; 
}
.sendButton
{
    background: #E63946;

    color: #FFFFFF;
    font-weight: bold;

    border: none;
    border-radius: 6px;
    width: 100px;

    margin-top: 25px;
    padding: 15px;
}
.sendButton:hover
{
    cursor:pointer;
    
    background-color: #B71B2C;
    transition: border-color 0.3s ease-in-out; 
}