.cabinetConteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    border-radius: 7px;
    width: 1000px;
    height: 575px;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto; 
    margin-top: 150px;
}
.welcomeText
{
    position: relative;
    top: 75px;
    font-size: 30px;
    font-weight: bold;
}
.Text
{
    font-weight: bold;
    font-size: 20px;
}
.infoconteiner
{
    position: relative;
    left: 270px;
    bottom: 60px;
    display: flex;
    width: 300px;
    height: 75px;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto; 
    border-radius: 15px;
    border: 2px solid #E63946;
}
.statisticContener
{
    position: relative;
    right: 200px;
    top: 150px;
    display: flex;
    width: 300px;
    height: 205px;
    justify-content: row; 
    align-items: row; 
    flex-direction: column; 
    margin: 0 auto; 
    border-radius: 15px;
}
.dockContener
{
    position: relative;
    right: 200px;
    bottom: 255px;
    display: flex;
    width: 300px;
    height: 205px;
    justify-content: row; 
    align-items: row; 
    flex-direction: column; 
    margin: 0 auto; 
    border-radius: 15px;
}
.workerpng
{
    position: relative;
    left: 275px;
    top: 160px;
}
.info2Contener
{
    position: relative;
    right: -270px;
    bottom: 200px;
    display: flex;
    width: 300px;
    height: 205px;
    justify-content: row; 
    align-items: row; 
    flex-direction: column; 
    margin: 0 auto; 
    border-radius: 15px;
}
.Zagolovok1
{
    width: 105px;
    display: inline-block;
    position: relative;
    left: 75px;
    border: #E63946 2px solid;
    border-radius: 15px;
}
.Zagolovok2
{
    width: 240px;
    display: inline-block;
    position: relative;
    left: 15px;
    border: #E63946 2px solid;
    border-radius: 15px;
}
.calendarbutton
{
    border: none;
    background-color: #E63946;
    color: #FFFFFF;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    display: flex;
    width: 170px;
    height: 50px;
}
.calendarbutton:hover
{
    cursor:pointer;
    background-color: #B71B2C;
    transition: border-color 0.3s ease-in-out; 
}