.cab
{
    display: block;
    position: relative;
    height: 1px;
    width: 350px;
}
.cabinetConteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    flex-direction: column; 
    border-radius: 7px;
    width: 1000px;
    height: 575px;
    margin: 0 auto; 
    margin-top: 150px;
    gap: 10px;
}
.hText
{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 470px;
    top: 95px;
}
.infoconteiner
{
    display: flex;
    width: 1000px;
    height: 100px;
    flex-direction: row; 
    position: relative;
    top: 20px;
}
.infoconteiner2
{
    gap: 30px;
}
.Midle
{
    width: 750px;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.input
{
    border: none;
    border-bottom: #000000 solid 1px;
    margin: 2px;
    padding: 15px;
    width: 200px;
    outline: none;
}
.Text
{
    font-weight: bold;
    font-size: 18px;
}
.smallconteiner
{
    margin: 5px;
}
.side
{
    position: relative;
    left: 1480px;
    top: 108px;
}
.sText
{
    padding: 2px;
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1px;
}
.activesText
{
    border-left: 2px solid #E63946 ;
}
.sTextH
{
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
}
.smallinput
{
    border:none;
    border-bottom: #000000 1px solid;
    margin: 2px;
    padding: 8px;
    width: 40px;
    outline: none;
}
.pngworker
{
    position: relative;
    height: 250px;
    width: 250px;
    left: 1200px;
    bottom: 50px;
}
.Warning
{
    height: auto;
    width: 350px;
    position: relative;
    left: 30px;
    top: 100px;
}
.wText
{
    color: gray;
}
.Copyright
{
    color: gray;
    display: block;
    position: relative;
    top: 105px;
    left: 255px;
}
.support
{
    position: relative;
    left:  750px;
    bottom: 54px;
    width:200px;
}
.supportbutton
{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    background: #E63946;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row; 
    box-shadow: 4px 4px 10px #E63946;
    height: 50px;
    width: 230px;
}
.supportimg
{
    position: relative;
    right: 9px;
    top: 5px;
    height: 33px;
    width: 33px;
}