.cabinetConteiner
{
    background: linear-gradient(to bottom,rgb(255, 255, 255), #d8d8dd); 
    display: flex;
    border-radius: 15px;
    border-top: 2px solid #051eff;
    display: flex;
    width: 500px;
    height: 400px;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto; 
}