.container
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;

    display: flex;
    flex-direction: column; 
    gap: 10px;

    width: 1100px;
    height: 575px;

    border-radius: 7px;

    margin: 0 auto; 
    margin-top: 150px;
}
.zero
{
    display: block;

    height: 1px;
    width: 350px;
}
.zeroHText
{
    font-weight: bold;
    font-size: 35px;

    position: relative;
    left: 470px;
    top: 95px;
}
.infoConteiner1
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 780px;
    height: 100px;
    
    position: relative;
    top: 20px;

    margin-left: 5px ;
}
.infoConteiner2
{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;

    width: 546px;
    height: 100px;
    
    position: relative;
    top: 20px;

    margin-left: 5px ;
}
.infoConteiner3
{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    gap: 15px;

    width: 318px;
    height: 100px;
    
    position: relative;
    top: 20px;

    margin-left: 5px ;
}
.input
{
    border: none;
    border-bottom: #000000 solid 1px;

    width: 200px;

    margin: 2px;
    padding: 15px;

    outline: none;
}
.input:disabled
{
    background-color: #FFFFFF;
}
.infoText
{
    font-weight: bold;
    font-size: 18px;
}
.smallConteiner
{
    margin: 5px;
}
.side
{
    position: relative;
    left: 1530px;
    top: 108px;
}
.sideText
{
    display: block;

    font-weight: bold;
    font-size: 18px;

    padding: 2px;
    margin-bottom: 1px;
}
.activeText
{
    border-left: 2px solid #E63946 ;
}
.sideHText
{
    display: block;

    font-weight: bold;
    font-size: 25px;

    margin-bottom: 25px;
}
.smallInput
{
    border:none;
    border-bottom: #000000 1px solid;

    width: 40px;
    outline: none;

    margin: 2px;
    padding: 8px;
}
.smallInput:disabled
{
    background-color: #FFFFFF;
}
.workerImage
{
    height: 250px;
    width: 250px;

    position: relative;
    left: 1200px;
    bottom: 50px;
}
.warningContainer
{
    height: auto;
    width: 350px;

    color: gray;

    position: relative;
    left: 30px;
    top: 60px;
}
.copyrightContainer
{
    display: block;
    
    color: gray;

    position: relative;
    top: 70px;
    left: 285px;
}
.supportContainer
{
    width:200px;

    position: relative;
    left:  800px;
    bottom: 54px;
}
.supportButton
{
    box-shadow: 4px 4px 10px #E63946;
    background: #E63946;

    justify-content: center; 
    align-items: center; 
    flex-direction: row; 

    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;

    border: none;
    border-radius: 6px;

    height: 50px;
    width: 230px;
}
.supportImage
{
    position: relative;
    right: 52px;
    top: 5px;
    
    height: 33px;
    width: 33px;
}