.cab
{
    display: block;
    position: relative;
    height: 1px;
    width: 550px;
}
.hText
{
    font-weight: bold;
    font-size: 35px;
    position: relative;
    left: 470px;
    top: 55px;
}
.sconteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    width: 1100px;
    height: 732px;
    max-height: 732px;
    margin: 0 auto; 
    margin-top: 100px;
    gap: 10px;
    overflow-y: auto;
}
.shortconteiner
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 100px;
}
.scheight
{
    height:40px;
}
.bottomborder
{
    border:none;
    border-bottom: #000 1px solid;
    outline: none;
}
.ssendbutton
{
    position: relative;
    bottom: 70px;
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 25px;
    background: #E63946;
    width: 150px;
}
.list
{
    font-size: 18px;
    border:none;
    border-bottom: #000 1px solid;
    outline: none;
}
.ssText
{
    font-weight: bold;
    font-size: 23px;
    display: block;
    margin-bottom: 1px ;
}
.shortTextInput
{
    font-size: 18px;
    width: 470px;
    height: 40px;
}
.bigtextconteiner
{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 200px;
}
.sbigText
{
    outline: none;
    font-size: 16px;
    width: 740px;
    height: 170px;
    resize: none;
}
.ssendbuttonText
{
    position: relative;
}