.cab
{
    display: block;
    position: relative;
    height: 1px;
    width: 550px;
}
.sconteiner
{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
    display: flex;
    flex-direction: column; 
    align-items: center;
    border-radius: 7px;
    width: 1000px;
    height: 575px;
    margin: 0 auto; 
    margin-top: 150px;
    gap: 10px;
}
.bottomborder
{
    border:none;
    border-bottom: #000 1px solid;
    outline: none;
}
.ssendbutton
{
    color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 15px;
    background: #E63946;
    width: 100px;
}
.list
{
    border:none;
    border-bottom: #000 1px solid;
    outline: none;
}
.ssText
{
    font-weight: bold;
    font-size: 23px;
}
