.headerConteiner
{
    background: #FFFFFF;

    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: row; 

    width: 1920px;
    height: 75px;

    border-bottom: 2px solid #E63946; 

    margin: 0 auto; 
}
.headerButtons
{
    position: relative;
    left: 70px;
    
    margin-left: 2px;
    margin-right: 20px;
}
.logoutButton
{
    position: relative;
    left: 1300px;
}
.rusalLogo
{
    position: relative;
}