.wconteiner
{
    background: #FFFFFF; 
    display: flex;
    border-radius: 15px;
    border-top: 2px solid #051eff;
    display: flex;
    width: 500px;
    height: auto;
    justify-content: flex-start; 
    align-items: center; 
    flex-direction: column; 
    margin: 0 auto; 
}
.message 
{
    display: flex;
    flex-direction: column; 
    width: 400px;
    height: auto; 
    border-radius: 15px;
    border: #051eff 1px solid;
    margin-bottom: 10px; 
    padding: 10px;
}
.shortpage 
{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px; 
}
.text 
{
    font-size: 16px;
    color: #333; 
}
.wreturn 
{
    position: relative;
    left: 230px;
    top: -30px;
}
.wgo
{
    max-width: 150px;
    margin: 5px;
}
.wType
{
    color: red;
}