body {
    display: flex; 
    justify-content: center; 
    min-height: 100vh;
    min-width: 100vh;
    margin: 0; 
    background-color: #EDF0F4;
    background-size: cover;
    background-attachment: fixed;
}