@layer base {
    input[type="password"]::-webkit-reveal,
    input[type="password"]::-ms-reveal 
    {
      display: none !important;
    }
}
html, body 
{
  overflow: hidden;
}
.wconteiner 
{
  overflow-y: auto; 
}
/* Chrome, Safari */
.wconteiner::-webkit-scrollbar 
{
  width: 8px; 
}
.wconteiner::-webkit-scrollbar-thumb 
{
  background-color: #ccc; 
  border-radius: 4px;
}
/* Firefox */
.wconteiner {
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent; 
}


::-webkit-scrollbar 
{
  width: 8px; 
  height: 8px;
}
*::-webkit-scrollbar-track 
{
  background: #ffffff;
  border-radius: 10px;
  margin: 10px;
}
::-webkit-scrollbar-thumb 
{
  background: #E63946; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover 
{
  background: #E63946; 
}